<div>
    <h4>{{vm.title}}</h4>
    <br />

    <!-- panel for - Product information-->
    <div class="panel panel-default">

        <div class="panel-body">

            <fieldset>
                <legend style="font-size:medium;" id="productSearchPanelHeading" class="panel-heading">Product information</legend>

                <div id="productSerahcForm">
                    <!--Information on search-->
                    <div class="form-group row">
                        <p class="col-md-12">
                            <kbd>IMPORTANT:</kbd>&nbsp;&nbsp;
                            First select the product <code>category</code>,
                            then based on that the <code>condition</code>, then the <code>brand</code>
                            and finally the <code>model</code>
                        </p>
                    </div>

                    <div class="form-group row">

                        <!--category selection-->
                        <label for="selectCategory" class="control-label col-md-1 fontWeightNormal">Category</label>
                        <div class="col-md-4">
                            <select id="selectCategory">
                                <option>---- Select Category ----</option>
                            </select>
                        </div>

                        <!--condition selection-->
                        <label for="selectCondition" class="control-label col-md-1 fontWeightNormal">Condition</label>
                        <div class="col-md-4">
                            <select id="selectCondition">
                                <option>---- Select Condition ----</option>
                            </select>
                        </div>

                        <div class="col-md-2">
                            <button class="col-md-12 fontWeightNormal" ng-click="vm.resetSearch()" id="resetBtn">Reset Search</button>
                        </div>
                    </div>

                    <div class="form-group row">

                        <!--brand selection-->
                        <label for="selectBrand" class="control-label col-md-1 fontWeightNormal">Brand</label>
                        <div class="col-md-4">
                            <select id="selectBrand" multiple>
                                <option>---- Select Brand ----</option>
                            </select>
                        </div>

                        <!--model selection-->
                        <label for="selectModel" class="control-label col-md-1 fontWeightNormal">Model</label>
                        <div class="col-md-4">
                            <select id="selectModel" multiple>
                                <option>---- Select Model ----</option>
                            </select>
                        </div>

                        <div class="col-md-2">
                            <button class="col-md-12 fontWeightNormal" ng-click="vm.amendStock()" id="btnSearchProducts">Amend Stock</button>
                        </div>
                    </div>

                    <!--error message-->
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label class="control-label fontWeightNormal" style="color:red" id="lblErrorMessage"></label>
                        </div>
                    </div>
                </div>
            </fieldset>

        </div>
    </div>


    <!--Product grid -->
    <div class="panel panel-default">

        <div class="panel-body" >

            <fieldset>
                <legend style="font-size:medium;" id="productPanelHeading" class="panel-heading">Products with stock counts</legend>
                <!--Information on search-->
                <div class="form-group row">
                    <p class="col-md-12">
                        <kbd>IMPORTANT:</kbd>&nbsp;&nbsp;
                        In the 'counted' table column <span style="text-align:center; padding-left:1%"/> 
                        <span style="background-color:green; text-align:center; padding-left:2%; padding-right: 2%">Yes</span>
                        <span style="text-align:center; padding-right:1%" /> means  
                        <code>stock counted</code> and,
                        <span style="text-align:center; padding-left:1%" />
                        <span style="background-color:darkorange; text-align:center; padding-left:2%; padding-right: 2%">No</span>
                        <span style="text-align:center; padding-right:1%" /> means  
                        <code>stock NOT counted</code>
                    </p>
                </div>
                <!--<div class="form-group row">
                    <br />
                </div>-->
                <div class="form-group row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10" id="productsGridDiv">

                        <div class="row table-responsive">
                            <!--JS Data table -->
                            <table cellpadding="0" cellspacing="0" border="0" class="display table-condensed table-striped" id="productsGrid"></table>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </fieldset>
        </div>
    </div>



</div>